body{
  width:100%;
}
.button{
  padding-top: 20px;
}

.headers{
  background-color: #66CCFF;
}

h1 {
  text-align: center;
}

h2{
  text-align: center;
  color: red;
}

form{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.submit_1 {
  text-align: center;
}
